<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Error</h1>
</body>
<style>
  body {
      background-image: url(https://cdn.dribbble.com/users/2399335/screenshots/14689261/d_glass-morphism_card_1080p_4x.png); 
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  }
  html {
  height: 100%;
  }
</style>
</html>